.back-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Increase hit area for touch devices */
.back-button:after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}
